<div class="modal-header">
    <h3 class="modal-title">Let me explain.</h3>
</div>
<div class="modal-body">
    <p>This is a simple looper.</p>
    <ul>
	    <li>Press the big red button to Record and Stop recording.</li>
	    <li>The control bar down left is made to take control of the volume and total mix of the played loops.</li>
	    <li>Use your keyboard to control the looper, too. F.e. the space-key can be used to toggle recording. The complete keyboard layout can be viewed by pressing the <span class="glyphicon glyphicon-question-sign" aria-hidden=true></span> - key on your keyboard.</li>	
	    <li>We're still under construction, this project will take it's time to fulfill all our/your needs and will also grow with the technical possiblities given by modern browers.</li>    
	    <li>For more information, contact and contribution please visit <a href="https://loopsoup.org">Loopsoup.org</a></li>
    </ul>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$close()">OK</button>
</div>