<!DOCTYPE html>
<html lang="de" ng-app="looper">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
		<title>{{pageTitle}}</title>

		<link rel="icon" type="image/png" href="img/favicon.png">

		<link rel="stylesheet" href="less/fonts/opensans_light_macroman/stylesheet.css">
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="less/iconfonts/style.css">
		<link rel="stylesheet" href="../node_modules/angular-hotkeys/build/hotkeys.min.css">
		
		<link rel="stylesheet" href="less/rzSlider/rzslider_custom.css">
		
		<link rel="stylesheet" href="less/style.css">
	</head>

	<body>
		<div ng-include="'templates/header.html'"></div>

		<div ng-controller="AlertController" class="alertContainer">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>

		<div class="looper" ng-controller="uiController">
			<div class="visu" ng-controller="visuController">
				<canvas id="canvas" resize></canvas>
			</div>

			<div class="controls bottom">
				<style> 
					{{ctrlBackgroundStyle}}
				</style>
				<select class='trackSelector' ng-model='selectedTrack' ng-change="notifySelect()">
					<option value="-1" selected>ALL</option>
					<option ng-repeat="track in tracks" value="{{$index}}" style="{{'background-color: '+getColor($index)}};">{{$index+1}}</option>
				</select>
				<span class="icon-download2" ng-click="download()"></span>
				<span class="icon-trash" ng-click="delete()"></span>
				<span class="{{volumeSymbolClass}}" ng-click="mute()" ng-mouseenter="setMuteIcon(true)" ng-mouseleave="setMuteIcon()"></span>
				<rzslider rz-slider-translate="volumeSliderChange" rz-slider-model="volume"/>
				<div class="importControls"></div>
			</div>

			<div class="controls top right">

			<!--
				<button ng-click="$root.visuEnabled=!$root.visuEnabled">Toggle Visualisation</button>
				-->
				
				<div ng-show="calibMode">
					<div>pull track in right position to adjust latency, deactive calibration mode pressing SHIFT+C</div>
					<input type="number" ng-model="$root.storage.latency" />
					<label>ms Latency</label>
				</div>
				
			</div>
			
			<!--
			add new Track
			<div class="controls right middle">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			</div>
			-->
		</div>


 
	<!-- Vendor & Patches -->
		<script type="text/javascript" src="js/patches/AudioContextMonkeyPatch.js"></script>
		<script type="text/javascript" src="js/ls.recorder/recorder.js"></script>
		<script type="text/javascript" src="js/patches/webAudioPatch.js"></script>
		<script type="text/javascript" src="js/patches/helpers.js"></script>

		<script type="text/javascript" src="../node_modules/paper/dist/paper-core.js"></script>
		<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../node_modules/lodash/lodash.js"></script>
		<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="../node_modules/ngstorage/ngStorage.js"></script>
		<script type="text/javascript" src="../node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/angular-slider/rzslider.min.js"></script>
		<script type="text/javascript" src="../node_modules/angular-hotkeys/build/hotkeys.min.js"></script>

	<!-- JS -->
		<script type="text/javascript" src="js/app.js"></script>

		<script type="text/javascript" src="js/Services/stateService.js"></script>
		<script type="text/javascript" src="js/Services/alertService.js"></script>
		<script type="text/javascript" src="js/Services/audioCoreService.js"></script>
		<script type="text/javascript" src="js/Services/colorService.js"></script>
		<script type="text/javascript" src="js/Services/ioService.js"></script>

		<script type="text/javascript" src="js/controller/alertController.js"></script>
		<script type="text/javascript" src="js/controller/uiController.js"></script>
		<script type="text/javascript" src="js/controller/visuController.js"></script>
	</body>
</html>

